* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: oklch(0.27 0.0063 34.3);
  color: oklch(0.98 0.0013 106.42);
  font-family: "Sono", monospace;
  padding: 2rem 3rem;
}

@media (width >= 1000px) {
  body {
    padding: 3rem 4rem;
  }
}

h1 {
  font-family: "Coiny", system-ui;
  font-size: 2.625rem;
  text-transform: uppercase;
  line-height: 1;
  margin-top: 0.313rem;
}

ul {
  list-style: none;
}

.hidden {
  display: none !important;
}

/* Changed since the main div that wraps app is root. */
#root {
  max-width: 1500px;
  margin: 0 auto;
}

.btn {
  border: none;
  font-family: "Coiny", system-ui;
  line-height: 1;
  text-transform: uppercase;
  font-size: 1.063rem;
  padding: 1rem 0 0.813rem;
  background-image: linear-gradient(
    135deg,
    oklch(0.62 0.188 259.81),
    oklch(0.64 0.2078 25.33),
    oklch(0.63 0.1699 149.21),
    oklch(0.8 0.1617 86.05)
  );
  /* Inherit color defined on parent. */
  color: inherit;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}

.btn.btn--large {
  font-size: 1.25rem;
  padding: 1.25rem 2rem 1.063rem;
}

.btn.btn--all {
  margin-bottom: 1rem;
  width: 100%;
}

.btn.btn--category {
  width: 100%;
  background-image: none;
}

.btn:hover {
  transform: scale(110%) rotate(-2deg);
}

.header {
  margin-bottom: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header .logo img {
  width: 68px;
  height: 68px;
}

.fact-form {
  background-color: oklch(0.37 0.0087 67.56);
  margin-bottom: 2.5rem;
  padding: 1rem 2rem;
  /* text-align: center; */
  display: flex;
  align-items: stretch;
  gap: 1rem;
  border-radius: 1rem;
  flex-direction: column;
}

.fact-form input:first-child {
  flex-grow: 1;
}

.fact-form input,
.fact-form select {
  width: auto;
  background-color: oklch(0.55 0.0116 58.07);
  border: none;
  border-radius: 100px;
  padding: 1rem;
  font-size: 1.125rem;
  color: inherit;
}

.fact-form input::placeholder,
.fact-form select::placeholder {
  color: oklch(0.72 0.0091 56.26);
}

@media (width >= 1000px) {
  .fact-form input,
  .fact-form select {
    width: 220px;
  }
}

.fact-form span {
  font-weight: 600;
  font-size: 1.125rem;
  margin-right: 1.125rem;
}

@media (width >= 1000px) {
  .fact-form {
    flex-direction: row;
    align-items: center;
  }
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
}

@media (width >= 900px) {
  .main {
    grid-template-columns: 250px 1fr;
  }
}

.main .category {
  margin-bottom: 1rem;
}

.main .fact {
  font-size: 1.25rem;
  /* 1.4 is 140% of initial line height. */
  line-height: 1.4;
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
  background-color: oklch(0.37 0.0087 67.56);
  margin-bottom: 1rem;
  padding: 1rem 1.5rem;
  display: flex;
  align-items: flex-end;
  gap: 0.75rem;
  letter-spacing: -1px;
  border-radius: 1rem;
  flex-direction: column;
}

@media (width >= 1200px) {
  .main .fact {
    flex-direction: row;
    gap: 1.5rem;
    align-items: center;
  }
}

.main .fact .tag {
  font-family: "Coiny", system-ui;
  text-transform: uppercase;
  font-size: 0.875rem;
  padding: 0.188rem 0.625rem 0;
  border-radius: 100px;
}

.main .fact .vote-buttons {
  /* A trick to provide margin needed to left to push content to the end of flexbox. */
  margin-left: auto;
  display: flex;
  gap: 8px;
  /* Since this element is a flex item within the fact container we will set its flex shrink as 0 so that it will not get squished. */
  flex-shrink: 0;
}

.main .fact .vote-buttons button {
  background-color: oklch(0.55 0.0116 58.07);
  border: none;
  font-size: 1.125rem;
  padding: 0.375rem 0.75rem;
  border-radius: 100px;
  color: inherit;
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.main .fact .vote-buttons button:hover {
  background-color: oklch(0.27 0.0063 34.3);
}

/* Link targets any .source selector with href value. */
.main .fact .source:link,
.main .fact .source:visited {
  color: oklch(0.72 0.0091 56.26);
  text-decoration: none;
  margin-left: 0.75rem;
  transition: 0.3s;
}

.main .fact .source:hover,
.main .fact .source:active {
  color: oklch(0.62 0.188 259.81);
}
